.container {
    background-color: #064e3b;
    padding: 0.5rem 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.a-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.a-link:hover{
    border-bottom: 3px solid #ffff;
}
